/.DS_Store
/.ropeproject
/3d_viewer.pyproject.user
/__pycache__
models/Car Door Panel/.DS_Store
models/U-bending/.DS_Store
python/__pycache__/model_control.cpython-39.pyc
python/windows/__pycache__/developer.cpython-39.pyc
python/windows/__pycache__/main.cpython-39.pyc
python/windows/__pycache__/optimisation.cpython-39.pyc
python/windows/__pycache__/train_new.cpython-39.pyc
python/__pycache__/model_control.cpython-39.pyc
python/__pycache__/prediction.cpython-39.pyc
python/__pycache__/model_control.cpython-39.pyc
python/__pycache__/prediction.cpython-39.pyc
.gitignore
ui/.DS_Store
/python/__pycache__
python/__pycache__/load.cpython-39.pyc
python/__pycache__/model_architecture.cpython-39.pyc
python/__pycache__/model_control.cpython-39.pyc
python/__pycache__/prediction.cpython-39.pyc
components/Bulkhead/HFQ/Aluminium Alloy 6082/.DS_Store
.gitignore
.gitignore
components/U-bending/.DS_Store
components/.DS_Store
components/Bulkhead/.DS_Store
components/Bulkhead/HFQ/.DS_Store
components/Car Door Panel/.DS_Store
.gitignore
.gitignore
.gitignore
components/U-bending/Hot Stamping/Aluminium Alloy 6082/.DS_Store
.gitignore
python/optimisation_funcs/model_confirugrations/.DS_Store
.gitignore
python/optimisation_funcs/model_confirugrations/u-bending/ModelPreparation/.DS_Store
.gitignore
python/optimisation_funcs/model_confirugrations/u-bending/ModelPreparation/NN2_ManufacturingSurrogate/UBending_models_newgeo/.DS_Store
temp/.DS_Store
.gitignore
temp/optimisation/OptimisationOutputs/bulkhead/.DS_Store
components/Car Door Panel/Cold Stamping/.DS_Store
.gitignore
components/U-bending/Hot Stamping/.DS_Store
.gitignore
python/optimisation_funcs/.DS_Store
python/optimisation_funcs/model_confirugrations/u-bending/.DS_Store
.gitignore
temp/optimisation/OptimisationOutputs/.DS_Store
python/optimisation_funcs/__pycache__/autodecoder.cpython-39.pyc
python/optimisation_funcs/__pycache__/implicitShapeNetworkModels.cpython-39.pyc
python/optimisation_funcs/__pycache__/manufacturingSurrogateModels_bulkhead.cpython-39.pyc
python/optimisation_funcs/__pycache__/manufacturingSurrogateModels_ubending.cpython-39.pyc
python/optimisation_funcs/__pycache__/manufacturingSurrogateModels.cpython-39.pyc
python/optimisation_funcs/__pycache__/optimisation_mainscript.cpython-39.pyc
python/optimisation_funcs/__pycache__/plotting.cpython-39.pyc
python/optimisation_funcs/__pycache__/single_prediction.cpython-39.pyc
python/optimisation_funcs/__pycache__/surface_points_normals.cpython-39.pyc
python/optimisation_funcs/__pycache__/U_ResSEUNet_512_B4_2000_LRFix00004_E6B6D6_Th.cpython-39.pyc
python/optimisation_funcs/model_confirugrations/u-bending/ModelPreparation/NN2_ManufacturingSurrogate/UBending_models_newgeo/InputTestOriginalAndNN_Feb23.npy
python/optimisation_funcs/model_confirugrations/u-bending/ModelPreparation/NN2_ManufacturingSurrogate/UBending_models_newgeo/Ubending_reference_blank_geo_before_springback.npy
python/windows/__pycache__/optimisation_results.cpython-39.pyc
python/windows/__pycache__/optimisation_setup.cpython-39.pyc
python/windows/__pycache__/optimisation_setup2.cpython-39.pyc
python/optimisation_funcs/model_confirugrations/u-bending/ModelPreparation/NN2_ManufacturingSurrogate/.DS_Store
python/developer_funcs/.DS_Store
.gitignore
temp/training data/.DS_Store
temp/training data/inputs/.DS_Store
temp/training data/inputs/Die/.DS_Store
temp/training data/inputs/Die/Sample_1_Die.nas
temp/training data/inputs/Die/Sample_2_Die.nas
temp/training data/inputs/Die/Sample_3_Die.nas
temp/training data/inputs/Die/Sample_4_Die.nas
temp/training data/inputs/Die/Sample_5_Die.nas
temp/training data/inputs/Edge/.DS_Store
temp/training data/inputs/Edge/Sample_1_Blank.nas
temp/training data/inputs/Edge/Sample_1_Die.nas
temp/training data/inputs/Edge/Sample_1_Punch.nas
temp/training data/inputs/Edge/Sample_2_Blank.nas
temp/training data/inputs/Edge/Sample_2_Die.nas
temp/training data/inputs/Edge/Sample_2_Punch.nas
temp/training data/inputs/Edge/Sample_3_Blank.nas
temp/training data/inputs/Edge/Sample_3_Die.nas
temp/training data/inputs/Edge/Sample_3_Punch.nas
temp/training data/inputs/Edge/Sample_4_Blank.nas
temp/training data/inputs/Edge/Sample_4_Die.nas
temp/training data/inputs/Edge/Sample_4_Punch.nas
temp/training data/inputs/Edge/Sample_5_Blank.nas
temp/training data/inputs/Edge/Sample_5_Die.nas
temp/training data/inputs/Edge/Sample_5_Punch.nas
temp/training data/inputs/Punch/.DS_Store
temp/training data/inputs/Punch/Sample_1_Punch.nas
temp/training data/inputs/Punch/Sample_2_Punch.nas
temp/training data/inputs/Punch/Sample_3_Punch.nas
temp/training data/inputs/Punch/Sample_4_Punch.nas
temp/training data/inputs/Punch/Sample_5_Punch.nas
temp/training data/targets/.DS_Store
temp/training data/targets/Sample_1/Backbone765_1_01_Gravity_CATCSM.erfh5
temp/training data/targets/Sample_1/Backbone765_1_01_Gravity.1.res
temp/training data/targets/Sample_1/Backbone765_1_01_Gravity.asw
temp/training data/targets/Sample_1/Backbone765_1_01_Gravity.att
temp/training data/targets/Sample_1/Backbone765_1_01_Gravity.end.res
temp/training data/targets/Sample_1/Backbone765_1_01_Gravity.his
temp/training data/targets/Sample_1/Backbone765_1_01_Gravity.msg
temp/training data/targets/Sample_1/Backbone765_1_01_Gravity.mtr
temp/training data/targets/Sample_1/Backbone765_1_01_Gravity.pic
temp/training data/targets/Sample_1/Backbone765_1_01_Gravity.pre
temp/training data/targets/Sample_1/Backbone765_1_01_Gravity.psp
temp/training data/targets/Sample_1/Backbone765_1_02_Closing_CATCSM.erfh5
temp/training data/targets/Sample_1/Backbone765_1_02_Closing.asw
temp/training data/targets/Sample_1/Backbone765_1_02_Closing.att
temp/training data/targets/Sample_1/Backbone765_1_02_Closing.end.res
temp/training data/targets/Sample_1/Backbone765_1_02_Closing.his
temp/training data/targets/Sample_1/Backbone765_1_02_Closing.msg
temp/training data/targets/Sample_1/Backbone765_1_02_Closing.pic
temp/training data/targets/Sample_1/Backbone765_1_02_Closing.pre
temp/training data/targets/Sample_1/Backbone765_1_02_Closing.psp
temp/training data/targets/Sample_1/Backbone765_1_03_Stamping_CATCSM.erfh5
temp/training data/targets/Sample_1/Backbone765_1_03_Stamping.1.res
temp/training data/targets/Sample_1/Backbone765_1_03_Stamping.2.res
temp/training data/targets/Sample_1/Backbone765_1_03_Stamping.3.res
temp/training data/targets/Sample_1/Backbone765_1_03_Stamping.4.res
temp/training data/targets/Sample_1/Backbone765_1_03_Stamping.5.res
temp/training data/targets/Sample_1/Backbone765_1_03_Stamping.6.res
temp/training data/targets/Sample_1/Backbone765_1_03_Stamping.7.res
temp/training data/targets/Sample_1/Backbone765_1_03_Stamping.8.res
temp/training data/targets/Sample_1/Backbone765_1_03_Stamping.9.res
temp/training data/targets/Sample_1/Backbone765_1_03_Stamping.10.res
temp/training data/targets/Sample_1/Backbone765_1_03_Stamping.asw
temp/training data/targets/Sample_1/Backbone765_1_03_Stamping.att
temp/training data/targets/Sample_1/Backbone765_1_03_Stamping.end.res
temp/training data/targets/Sample_1/Backbone765_1_03_Stamping.his
temp/training data/targets/Sample_1/Backbone765_1_03_Stamping.msg
temp/training data/targets/Sample_1/Backbone765_1_03_Stamping.pic
temp/training data/targets/Sample_1/Backbone765_1_03_Stamping.pre
temp/training data/targets/Sample_1/Backbone765_1_03_Stamping.psp
temp/training data/targets/Sample_1/Backbone765_1_04_Springback_CATCSM.erfh5
temp/training data/targets/Sample_1/Backbone765_1_04_Springback.1.res
temp/training data/targets/Sample_1/Backbone765_1_04_Springback.asw
temp/training data/targets/Sample_1/Backbone765_1_04_Springback.att
temp/training data/targets/Sample_1/Backbone765_1_04_Springback.end.res
temp/training data/targets/Sample_1/Backbone765_1_04_Springback.his
temp/training data/targets/Sample_1/Backbone765_1_04_Springback.msg
temp/training data/targets/Sample_1/Backbone765_1_04_Springback.mtr
temp/training data/targets/Sample_1/Backbone765_1_04_Springback.pic
temp/training data/targets/Sample_1/Backbone765_1_04_Springback.pre
temp/training data/targets/Sample_1/Backbone765_1_04_Springback.psp
temp/training data/targets/Sample_1/Backbone765_1.asw
temp/training data/targets/Sample_1/Backbone765_1.att
temp/training data/targets/Sample_1/Backbone765_1.out
temp/training data/targets/Sample_1/tmp_local_launch_modified.bat
temp/training data/targets/Sample_2/Backbone765_2_01_Gravity_CATCSM.erfh5
temp/training data/targets/Sample_2/Backbone765_2_01_Gravity.1.res
temp/training data/targets/Sample_2/Backbone765_2_01_Gravity.asw
temp/training data/targets/Sample_2/Backbone765_2_01_Gravity.att
temp/training data/targets/Sample_2/Backbone765_2_01_Gravity.end.res
temp/training data/targets/Sample_2/Backbone765_2_01_Gravity.his
temp/training data/targets/Sample_2/Backbone765_2_01_Gravity.msg
temp/training data/targets/Sample_2/Backbone765_2_01_Gravity.mtr
temp/training data/targets/Sample_2/Backbone765_2_01_Gravity.pic
temp/training data/targets/Sample_2/Backbone765_2_01_Gravity.pre
temp/training data/targets/Sample_2/Backbone765_2_01_Gravity.psp
temp/training data/targets/Sample_2/Backbone765_2_02_Closing_CATCSM.erfh5
temp/training data/targets/Sample_2/Backbone765_2_02_Closing.asw
temp/training data/targets/Sample_2/Backbone765_2_02_Closing.att
temp/training data/targets/Sample_2/Backbone765_2_02_Closing.end.res
temp/training data/targets/Sample_2/Backbone765_2_02_Closing.his
temp/training data/targets/Sample_2/Backbone765_2_02_Closing.msg
temp/training data/targets/Sample_2/Backbone765_2_02_Closing.pic
temp/training data/targets/Sample_2/Backbone765_2_02_Closing.pre
temp/training data/targets/Sample_2/Backbone765_2_02_Closing.psp
temp/training data/targets/Sample_2/Backbone765_2_03_Stamping_CATCSM.erfh5
temp/training data/targets/Sample_2/Backbone765_2_03_Stamping.1.res
temp/training data/targets/Sample_2/Backbone765_2_03_Stamping.2.res
temp/training data/targets/Sample_2/Backbone765_2_03_Stamping.3.res
temp/training data/targets/Sample_2/Backbone765_2_03_Stamping.4.res
temp/training data/targets/Sample_2/Backbone765_2_03_Stamping.5.res
temp/training data/targets/Sample_2/Backbone765_2_03_Stamping.6.res
temp/training data/targets/Sample_2/Backbone765_2_03_Stamping.7.res
temp/training data/targets/Sample_2/Backbone765_2_03_Stamping.8.res
temp/training data/targets/Sample_2/Backbone765_2_03_Stamping.9.res
temp/training data/targets/Sample_2/Backbone765_2_03_Stamping.10.res
temp/training data/targets/Sample_2/Backbone765_2_03_Stamping.asw
temp/training data/targets/Sample_2/Backbone765_2_03_Stamping.att
temp/training data/targets/Sample_2/Backbone765_2_03_Stamping.end.res
temp/training data/targets/Sample_2/Backbone765_2_03_Stamping.his
temp/training data/targets/Sample_2/Backbone765_2_03_Stamping.msg
temp/training data/targets/Sample_2/Backbone765_2_03_Stamping.pic
temp/training data/targets/Sample_2/Backbone765_2_03_Stamping.pre
temp/training data/targets/Sample_2/Backbone765_2_03_Stamping.psp
temp/training data/targets/Sample_2/Backbone765_2_04_Springback_CATCSM.erfh5
temp/training data/targets/Sample_2/Backbone765_2_04_Springback.1.res
temp/training data/targets/Sample_2/Backbone765_2_04_Springback.asw
temp/training data/targets/Sample_2/Backbone765_2_04_Springback.att
temp/training data/targets/Sample_2/Backbone765_2_04_Springback.end.res
temp/training data/targets/Sample_2/Backbone765_2_04_Springback.his
temp/training data/targets/Sample_2/Backbone765_2_04_Springback.msg
temp/training data/targets/Sample_2/Backbone765_2_04_Springback.mtr
temp/training data/targets/Sample_2/Backbone765_2_04_Springback.pic
temp/training data/targets/Sample_2/Backbone765_2_04_Springback.pre
temp/training data/targets/Sample_2/Backbone765_2_04_Springback.psp
temp/training data/targets/Sample_2/Backbone765_2.asw
temp/training data/targets/Sample_2/Backbone765_2.att
temp/training data/targets/Sample_2/Backbone765_2.out
temp/training data/targets/Sample_2/tmp_local_launch_modified.bat
temp/training data/targets/Sample_3/Backbone765_3_01_Gravity_CATCSM.erfh5
temp/training data/targets/Sample_3/Backbone765_3_01_Gravity.1.res
temp/training data/targets/Sample_3/Backbone765_3_01_Gravity.asw
temp/training data/targets/Sample_3/Backbone765_3_01_Gravity.att
temp/training data/targets/Sample_3/Backbone765_3_01_Gravity.end.res
temp/training data/targets/Sample_3/Backbone765_3_01_Gravity.his
temp/training data/targets/Sample_3/Backbone765_3_01_Gravity.msg
temp/training data/targets/Sample_3/Backbone765_3_01_Gravity.mtr
temp/training data/targets/Sample_3/Backbone765_3_01_Gravity.pic
temp/training data/targets/Sample_3/Backbone765_3_01_Gravity.pre
temp/training data/targets/Sample_3/Backbone765_3_01_Gravity.psp
temp/training data/targets/Sample_3/Backbone765_3_02_Closing_CATCSM.erfh5
temp/training data/targets/Sample_3/Backbone765_3_02_Closing.asw
temp/training data/targets/Sample_3/Backbone765_3_02_Closing.att
temp/training data/targets/Sample_3/Backbone765_3_02_Closing.end.res
temp/training data/targets/Sample_3/Backbone765_3_02_Closing.his
temp/training data/targets/Sample_3/Backbone765_3_02_Closing.msg
temp/training data/targets/Sample_3/Backbone765_3_02_Closing.pic
temp/training data/targets/Sample_3/Backbone765_3_02_Closing.pre
temp/training data/targets/Sample_3/Backbone765_3_02_Closing.psp
temp/training data/targets/Sample_3/Backbone765_3_03_Stamping_CATCSM.erfh5
temp/training data/targets/Sample_3/Backbone765_3_03_Stamping.1.res
temp/training data/targets/Sample_3/Backbone765_3_03_Stamping.2.res
temp/training data/targets/Sample_3/Backbone765_3_03_Stamping.3.res
temp/training data/targets/Sample_3/Backbone765_3_03_Stamping.4.res
temp/training data/targets/Sample_3/Backbone765_3_03_Stamping.5.res
temp/training data/targets/Sample_3/Backbone765_3_03_Stamping.6.res
temp/training data/targets/Sample_3/Backbone765_3_03_Stamping.7.res
temp/training data/targets/Sample_3/Backbone765_3_03_Stamping.8.res
temp/training data/targets/Sample_3/Backbone765_3_03_Stamping.9.res
temp/training data/targets/Sample_3/Backbone765_3_03_Stamping.10.res
temp/training data/targets/Sample_3/Backbone765_3_03_Stamping.asw
temp/training data/targets/Sample_3/Backbone765_3_03_Stamping.att
temp/training data/targets/Sample_3/Backbone765_3_03_Stamping.end.res
temp/training data/targets/Sample_3/Backbone765_3_03_Stamping.his
temp/training data/targets/Sample_3/Backbone765_3_03_Stamping.msg
temp/training data/targets/Sample_3/Backbone765_3_03_Stamping.pic
temp/training data/targets/Sample_3/Backbone765_3_03_Stamping.pre
temp/training data/targets/Sample_3/Backbone765_3_03_Stamping.psp
temp/training data/targets/Sample_3/Backbone765_3_04_Springback_CATCSM.erfh5
temp/training data/targets/Sample_3/Backbone765_3_04_Springback.1.res
temp/training data/targets/Sample_3/Backbone765_3_04_Springback.asw
temp/training data/targets/Sample_3/Backbone765_3_04_Springback.att
temp/training data/targets/Sample_3/Backbone765_3_04_Springback.end.res
temp/training data/targets/Sample_3/Backbone765_3_04_Springback.his
temp/training data/targets/Sample_3/Backbone765_3_04_Springback.msg
temp/training data/targets/Sample_3/Backbone765_3_04_Springback.mtr
temp/training data/targets/Sample_3/Backbone765_3_04_Springback.pic
temp/training data/targets/Sample_3/Backbone765_3_04_Springback.pre
temp/training data/targets/Sample_3/Backbone765_3_04_Springback.psp
temp/training data/targets/Sample_3/Backbone765_3.asw
temp/training data/targets/Sample_3/Backbone765_3.att
temp/training data/targets/Sample_3/Backbone765_3.out
temp/training data/targets/Sample_3/tmp_local_launch_modified.bat
temp/training data/targets/Sample_4/Backbone765_4_01_Gravity_CATCSM.erfh5
temp/training data/targets/Sample_4/Backbone765_4_01_Gravity.1.res
temp/training data/targets/Sample_4/Backbone765_4_01_Gravity.asw
temp/training data/targets/Sample_4/Backbone765_4_01_Gravity.att
temp/training data/targets/Sample_4/Backbone765_4_01_Gravity.end.res
temp/training data/targets/Sample_4/Backbone765_4_01_Gravity.his
temp/training data/targets/Sample_4/Backbone765_4_01_Gravity.msg
temp/training data/targets/Sample_4/Backbone765_4_01_Gravity.mtr
temp/training data/targets/Sample_4/Backbone765_4_01_Gravity.pic
temp/training data/targets/Sample_4/Backbone765_4_01_Gravity.pre
temp/training data/targets/Sample_4/Backbone765_4_01_Gravity.psp
temp/training data/targets/Sample_4/Backbone765_4_02_Closing_CATCSM.erfh5
temp/training data/targets/Sample_4/Backbone765_4_02_Closing.asw
temp/training data/targets/Sample_4/Backbone765_4_02_Closing.att
temp/training data/targets/Sample_4/Backbone765_4_02_Closing.end.res
temp/training data/targets/Sample_4/Backbone765_4_02_Closing.his
temp/training data/targets/Sample_4/Backbone765_4_02_Closing.msg
temp/training data/targets/Sample_4/Backbone765_4_02_Closing.pic
temp/training data/targets/Sample_4/Backbone765_4_02_Closing.pre
temp/training data/targets/Sample_4/Backbone765_4_02_Closing.psp
temp/training data/targets/Sample_4/Backbone765_4_03_Stamping_CATCSM.erfh5
temp/training data/targets/Sample_4/Backbone765_4_03_Stamping.1.res
temp/training data/targets/Sample_4/Backbone765_4_03_Stamping.2.res
temp/training data/targets/Sample_4/Backbone765_4_03_Stamping.3.res
temp/training data/targets/Sample_4/Backbone765_4_03_Stamping.4.res
temp/training data/targets/Sample_4/Backbone765_4_03_Stamping.5.res
temp/training data/targets/Sample_4/Backbone765_4_03_Stamping.6.res
temp/training data/targets/Sample_4/Backbone765_4_03_Stamping.7.res
temp/training data/targets/Sample_4/Backbone765_4_03_Stamping.8.res
temp/training data/targets/Sample_4/Backbone765_4_03_Stamping.9.res
temp/training data/targets/Sample_4/Backbone765_4_03_Stamping.10.res
temp/training data/targets/Sample_4/Backbone765_4_03_Stamping.asw
temp/training data/targets/Sample_4/Backbone765_4_03_Stamping.att
temp/training data/targets/Sample_4/Backbone765_4_03_Stamping.end.res
temp/training data/targets/Sample_4/Backbone765_4_03_Stamping.his
temp/training data/targets/Sample_4/Backbone765_4_03_Stamping.msg
temp/training data/targets/Sample_4/Backbone765_4_03_Stamping.pic
temp/training data/targets/Sample_4/Backbone765_4_03_Stamping.pre
temp/training data/targets/Sample_4/Backbone765_4_03_Stamping.psp
temp/training data/targets/Sample_4/Backbone765_4_04_Springback_CATCSM.erfh5
temp/training data/targets/Sample_4/Backbone765_4_04_Springback.1.res
temp/training data/targets/Sample_4/Backbone765_4_04_Springback.asw
temp/training data/targets/Sample_4/Backbone765_4_04_Springback.att
temp/training data/targets/Sample_4/Backbone765_4_04_Springback.end.res
temp/training data/targets/Sample_4/Backbone765_4_04_Springback.his
temp/training data/targets/Sample_4/Backbone765_4_04_Springback.msg
temp/training data/targets/Sample_4/Backbone765_4_04_Springback.mtr
temp/training data/targets/Sample_4/Backbone765_4_04_Springback.pic
temp/training data/targets/Sample_4/Backbone765_4_04_Springback.pre
temp/training data/targets/Sample_4/Backbone765_4_04_Springback.psp
temp/training data/targets/Sample_4/Backbone765_4.asw
temp/training data/targets/Sample_4/Backbone765_4.att
temp/training data/targets/Sample_4/Backbone765_4.out
temp/training data/targets/Sample_4/tmp_local_launch_modified.bat
temp/training data/targets/Sample_5/Backbone765_5_01_Gravity_CATCSM.erfh5
temp/training data/targets/Sample_5/Backbone765_5_01_Gravity.1.res
temp/training data/targets/Sample_5/Backbone765_5_01_Gravity.asw
temp/training data/targets/Sample_5/Backbone765_5_01_Gravity.att
temp/training data/targets/Sample_5/Backbone765_5_01_Gravity.end.res
temp/training data/targets/Sample_5/Backbone765_5_01_Gravity.his
temp/training data/targets/Sample_5/Backbone765_5_01_Gravity.msg
temp/training data/targets/Sample_5/Backbone765_5_01_Gravity.mtr
temp/training data/targets/Sample_5/Backbone765_5_01_Gravity.pic
temp/training data/targets/Sample_5/Backbone765_5_01_Gravity.pre
temp/training data/targets/Sample_5/Backbone765_5_01_Gravity.psp
temp/training data/targets/Sample_5/Backbone765_5_02_Closing_CATCSM.erfh5
temp/training data/targets/Sample_5/Backbone765_5_02_Closing.asw
temp/training data/targets/Sample_5/Backbone765_5_02_Closing.att
temp/training data/targets/Sample_5/Backbone765_5_02_Closing.end.res
temp/training data/targets/Sample_5/Backbone765_5_02_Closing.his
temp/training data/targets/Sample_5/Backbone765_5_02_Closing.msg
temp/training data/targets/Sample_5/Backbone765_5_02_Closing.pic
temp/training data/targets/Sample_5/Backbone765_5_02_Closing.pre
temp/training data/targets/Sample_5/Backbone765_5_02_Closing.psp
temp/training data/targets/Sample_5/Backbone765_5_03_Stamping_CATCSM.erfh5
temp/training data/targets/Sample_5/Backbone765_5_03_Stamping.1.res
temp/training data/targets/Sample_5/Backbone765_5_03_Stamping.2.res
temp/training data/targets/Sample_5/Backbone765_5_03_Stamping.3.res
temp/training data/targets/Sample_5/Backbone765_5_03_Stamping.4.res
temp/training data/targets/Sample_5/Backbone765_5_03_Stamping.5.res
temp/training data/targets/Sample_5/Backbone765_5_03_Stamping.6.res
temp/training data/targets/Sample_5/Backbone765_5_03_Stamping.7.res
temp/training data/targets/Sample_5/Backbone765_5_03_Stamping.8.res
temp/training data/targets/Sample_5/Backbone765_5_03_Stamping.9.res
temp/training data/targets/Sample_5/Backbone765_5_03_Stamping.10.res
temp/training data/targets/Sample_5/Backbone765_5_03_Stamping.asw
temp/training data/targets/Sample_5/Backbone765_5_03_Stamping.att
temp/training data/targets/Sample_5/Backbone765_5_03_Stamping.end.res
temp/training data/targets/Sample_5/Backbone765_5_03_Stamping.his
temp/training data/targets/Sample_5/Backbone765_5_03_Stamping.msg
temp/training data/targets/Sample_5/Backbone765_5_03_Stamping.pic
temp/training data/targets/Sample_5/Backbone765_5_03_Stamping.pre
temp/training data/targets/Sample_5/Backbone765_5_03_Stamping.psp
temp/training data/targets/Sample_5/Backbone765_5_04_Springback_CATCSM.erfh5
temp/training data/targets/Sample_5/Backbone765_5_04_Springback.1.res
temp/training data/targets/Sample_5/Backbone765_5_04_Springback.asw
temp/training data/targets/Sample_5/Backbone765_5_04_Springback.att
temp/training data/targets/Sample_5/Backbone765_5_04_Springback.end.res
temp/training data/targets/Sample_5/Backbone765_5_04_Springback.his
temp/training data/targets/Sample_5/Backbone765_5_04_Springback.msg
temp/training data/targets/Sample_5/Backbone765_5_04_Springback.mtr
temp/training data/targets/Sample_5/Backbone765_5_04_Springback.pic
temp/training data/targets/Sample_5/Backbone765_5_04_Springback.pre
temp/training data/targets/Sample_5/Backbone765_5_04_Springback.psp
temp/training data/targets/Sample_5/Backbone765_5.asw
temp/training data/targets/Sample_5/Backbone765_5.att
temp/training data/targets/Sample_5/Backbone765_5.out
temp/training data/targets/Sample_5/tmp_local_launch_modified.bat
python/.DS_Store
python/developer_funcs/__pycache__/data_prep.cpython-39.pyc
python/developer_funcs/__pycache__/data_prep.cpython-38.pyc
python/optimisation_funcs/__pycache__/autodecoder.cpython-38.pyc
python/optimisation_funcs/__pycache__/implicitShapeNetworkModels.cpython-38.pyc
python/optimisation_funcs/__pycache__/single_prediction.cpython-38.pyc
python/optimisation_funcs/__pycache__/surface_points_normals.cpython-38.pyc
python/windows/__pycache__/developer.cpython-38.pyc
python/windows/__pycache__/main.cpython-38.pyc
