/.DS_Store
/.ropeproject
/3d_viewer.pyproject.user
/__pycache__
models/Car Door Panel/.DS_Store
models/U-bending/.DS_Store
python/__pycache__/model_control.cpython-39.pyc
python/windows/__pycache__/developer.cpython-39.pyc
python/windows/__pycache__/main.cpython-39.pyc
python/windows/__pycache__/optimisation.cpython-39.pyc
python/windows/__pycache__/train_new.cpython-39.pyc
python/__pycache__/model_control.cpython-39.pyc
python/__pycache__/prediction.cpython-39.pyc
python/__pycache__/model_control.cpython-39.pyc
python/__pycache__/prediction.cpython-39.pyc
.gitignore
ui/.DS_Store
/python/__pycache__
python/__pycache__/load.cpython-39.pyc
python/__pycache__/model_architecture.cpython-39.pyc
python/__pycache__/model_control.cpython-39.pyc
python/__pycache__/prediction.cpython-39.pyc
components/Bulkhead/HFQ/Aluminium Alloy 6082/.DS_Store
.gitignore
.gitignore
components/U-bending/.DS_Store
components/.DS_Store
components/Bulkhead/.DS_Store
components/Bulkhead/HFQ/.DS_Store
components/Car Door Panel/.DS_Store
.gitignore
.gitignore
.gitignore
components/U-bending/Hot Stamping/Aluminium Alloy 6082/.DS_Store
.gitignore
python/optimisation_funcs/model_confirugrations/.DS_Store
.gitignore
python/optimisation_funcs/model_confirugrations/u-bending/ModelPreparation/.DS_Store
.gitignore
python/optimisation_funcs/model_confirugrations/u-bending/ModelPreparation/NN2_ManufacturingSurrogate/UBending_models_newgeo/.DS_Store
temp/.DS_Store
.gitignore
temp/optimisation/OptimisationOutputs/bulkhead/.DS_Store
